<br />

<div class="box-box col-10 offset-1">
  <h1>Meet the Developer</h1>

  <br />

  <div class="row">
    <div class="col-sm-5 col-12">
      <%= image_tag 'melanie_headshot.jpg', class: 'img-fluid', style: 'width: 300px;' %>
    </div>

    <div class="col-sm-7 col-12">
      <br />
      <br />
      <p>
        Melanie Locke created Flixter while enrolled in a 24-week intensive full-stack development course through UC Berkeley's School of Continuing Education. 

        Take a peek at her <%= link_to 'Github', 'https://github.com/MelanieALocke', :target => "_blank" %>. 
      </p>
    </div>

    <br />
</div>