<br />
<div class="box-box col-10 offset-1">
  <h1 class="text-center" id="course-index-title">Learn Something New Today!</h1>
  <hr />

  <br />

  <% @courses.each do |course| %>
    <h2 class="text-center course-title"><%= link_to course.title, course_path(course) %></h2>
    <br />
    <div class="text-center">
      <%= image_tag course.photo.to_s, class: 'img-fluid' %>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-8 col-12">
        <%= course.description %>
      </div>
      <div class="col-sm-4 col-12 text-center">
        <%= link_to 'More Details...', course_path(course), class: 'btn btn-primary btn-large', id: 'details-button' %>
      </div>
    </div>
    <br class="clr" />
  <% end %>
</div>