@import "bootstrap";

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  box-shadow: 0px 1px 2px #2a2a2a;
  background: image_url('cork-board.png');
  font-size: 1.25em;
  color: white;
}
.nav-item {
  font-family: "Helvetica Neue", Helvetica;
  color: white;
}
.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 500;
  font-size: 1.5em;
}
.navbar-inverse .navbar-nav .nav-link {
  color: white;
}
.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 550px;
  box-shadow: 0px 3px 8px #2a2a2a;
}
.frosty {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  height: 200px;
  margin-top: -120px;
}
.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
.little-space {
  margin: 10px;
}
.btn {
  border-radius: 0;
}
.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
body {
  background: image_url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.box-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}
.box-box h2, .box-box h1 {
  margin: 10px;
}
